version: '3.7'

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    command: -H unix:///var/run/docker.sock
    restart: always

    ports:
      - target: 9000
        published: 9000
        protocol: tcp
      - target: 8000
        published: 8000
        protocol: tcp

    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      - type: bind
        source: /srv/portainer/
        target: /data
